// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-bg-color: #333 !default;
$body-text-color: rgb(166, 158, 147) !default;
$body-link-color: rgb(101, 172, 230) !default;
$blockquote-text-color: rgb(130, 123, 115) !default;

// Code
$code-bg-color: rgb(29, 31, 32) !default;
$code-text-color: rgb(124, 145, 155) !default;

// Borders
$border-color: rgb(40, 50, 50) !default;
$table-border-color: rgb(54, 58, 61) !default;
$hr-border-color: rgb(32, 35, 37) !default;


$ms-blue: rgb(0, 120, 215) !default;
$ms-lightblue: rgb(0, 188, 242) !default;
$ms-darkblue: rgb(0, 24, 143) !default;
$ms-lightgreen: rgb(186, 216, 10) !default;
$ms-lightgrey: #ccc !default;
$ms-midgrey: #555 !default;
$ms-darkgrey: #444 !default;
$ms-vdarkgrey: #222 !default;
